[Unit]
Description=Socket listener to trigger VM start for port 47984

[Socket]
ListenStream=0.0.0.0:47984
Accept=false
TriggerLimitIntervalSec=2
TriggerLimitBurst=200

[Install]
WantedBy=sockets.target
